@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #20262e;
  background: linear-gradient(rgba(255, 255, 255,0.1) ,rgba(3, 89, 238, 1),rgba(255, 255, 255,0.1)) no-repeat;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(pills.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 5%;
}

h1 {
  text-align: center;
  font-size: 5rem;
  color: rgb(22, 21, 21);
  text-transform: uppercase;
  line-height: 1.375;
  margin: 0 0 2.4rem 0;
  letter-spacing: 1px
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.375;
  margin: 10px 0;
  letter-spacing: 1px
}

table {
  width: 100%;
  min-width: 300px;
  margin-bottom: 2.4rem;
  background-color: #292f38;
  color: #fff;
  overflow: hidden;
}

table tr:nth-child(even) {
  background-color: rgb(46, 53, 62);
}

table th,
table td:before {
  color: #11b2e8;
  text-transform: uppercase;
  width: 100%;
}

table th {
  display: none;
}

table th,
table td {
  margin: .5rem 2rem;
  text-align: left;
}

table td {
  display: block;
  font-size: 90%;
}

table td:first-child {
  padding-top: 1rem;
}

table td:last-child {
  padding-bottom: 1rem;
}

table td:before {
  content: attr(data-th) ':\00a0';
  font-weight: bold;
  min-width: 8rem;
  display: inline-block;
}

.table-2 table td:before {
  min-width: 0;
}

.table-3 table {
  background-color: rgb(46, 53, 62);
}

.table-3 table tr:nth-child(even) {
  background-color: transparent;
}

.table-3 table td:before {
  width: 100%;
  font-weight: normal;
  opacity: .8;
}

.table-3 table td {
  margin: 0;
  padding: 1.5rem 2rem 0 2rem;
  font-weight: bold
}

.table-3 table tr td:first-child {
  background-color: #20262e;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.table-3 table tr td:last-child {
  padding-bottom: 1.5rem;
  border-bottom: 4px solid rgba(255, 255, 255, .3)
}

.table-3 table tr:last-child td:last-child {
  border-bottom: none;
}

@media (min-width: 600px) {
  table td:before {
    display: none;
  }
  table th,
  table td {
    display: table-cell;
  }
  table th,
  table td,
  table td:first-child,
  table td:last-child {
    padding: 1.5rem 2rem;
  }
  .table-3 table {
    background-color: #20262e;
  }
  .table-3 table tr:nth-child(even) {
    background-color: rgb(46, 53, 62);
  }
  .table-3 table td {
    margin: .5rem 2rem;
    padding: 1.5rem 2rem;
    font-weight: normal
  }
  .table-3 table tr td:first-child {
    background-color: transparent;
  }
  .table-3 table tr td:last-child {
    border-bottom: none;
  }
}


nav {
  width: 97%;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 ;
  padding: 40px 20px 0;
  position: relative;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

.btn-primary{
  background-color: #292f38;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  transition: all .5s ease;
}

.btn-primary:hover{
  background-color: #11b2e8;
  transform: translateY(10px);
}

.signin {
  background-color: #d3d3d3;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.login {
  position: relative;
  height: 1000px;
  width: 405px;
  margin: auto;
  padding: 60px 60px;
  background: url(https://picsum.photos/id/1004/5616/3744) no-repeat   center center #292f38;;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}

form {
  padding-top: 80px;
}

.active {
  border-bottom: 2px solid #1161ed;
  color: #11b2e8;
  font-size: 20px;
  letter-spacing: 2px;
}

span {
  text-transform: uppercase;
  font-size: 16px;
  opacity: 1; 
  display: inline-block;
  position: relative;
  color: #11b2e8;
  top: -65px;
  transition: all 0.5s ease-in-out;
}

.text {
  border: none;
  width: 89%;
  padding: 20px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + span {
  opacity: 0.6;
}

input[type="text"],
input[type="password"],
input[type="date"] {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

select{
    border: none;
    width: 89%;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    top: -60px;
    left: 20px;
}

select:focus {
    outline: 0;
}

input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
}

h2,
span,
.custom-checkbox {
  margin-left: 20px;
}

.custom-checkbox {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: 6px;
}

.custom-checkbox:checked {
  background-color: rgba(17, 97, 237, 1);
}

.custom-checkbox:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: #fff;
}

.custom-checkbox:focus {
  outline: none;
}

label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}

.signin {
  background-color: #1161ed;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.signin:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.signin:focus {
  outline: none;
}

input + a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255);
  margin-top: 50px;
  transition: .5s ease;
}

input + a:hover{
  color: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Style the file input */
input[type="file"].text {
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 16px;
  width: 100%;
}

/* Style the label for the file input */
span {
  font-weight: bold;
}

